<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<script>
		const usernameRegex = /^[a-zA-Z0-9_]{5,}$/;
		const passwordRegex = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/;

		function login() {
			event.preventDefault();

			var username = document.getElementById("name").value;
			var password = document.getElementById("password").value;

			if (!usernameRegex.test(username)) {
				alert("Username must be at least 5 characters and can only contain letters, numbers, and underscores.");
				return false;
			}

			if (!passwordRegex.test(password)) {
				alert("Password must be at least 8 characters and contain at least one letter and one number.");
				return false;
			}

			var form = document.getElementById("login-form");
			var url = "/api/login.php";
			var data = new FormData(form);

			fetch(url, {
				method: 'POST',
				body: data
			})
			.then(response => response.text())
			.then(data => {
				if(data == 'logged_in'){
					//alert('Login successful!');
                    window.location.href = "/";
				}else{
					alert(data);
				}
			})
			.catch(error => {
				console.error('Error submitting form:', error);
				alert('Error submitting form. Please try again.');
			});
		}
	</script>
</head>
<body>
	<h1>Login to GoHighlander</h1>
	<form id="login-form" onsubmit="login()">
		<label for="name">Username:</label>
		<input type="text" id="name" name="name" required><br><br>

		<label for="password">Password:</label>
		<input type="password" id="password" name="password" required><br><br>
		<a href="register.php">Register</a><br/><br/>
		<input type="submit" value="Login">
	</form>
</body>
</html>
