<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
	<script>
		const usernameRegex = /^[a-zA-Z0-9_]{5,}$/;
		const passwordRegex = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/;
		function register() {
			event.preventDefault(); //prevent default form submit action

			var username = document.getElementById("name").value;
			var password = document.getElementById("password").value;

			//verify regex
			if (!usernameRegex.test(username)) {
				alert("Username must be at least 5 characters and can only contain letters, numbers, and underscores.");
				return false;
			}

			if (!passwordRegex.test(password)) {
				alert("Password must be at least 8 characters and contain at least one letter and one number.");
				return false;
			}

			var form = document.getElementById("register-form");
			var url = "/api/register.php";
			var data = new FormData(form);

			fetch(url, {
				method: 'POST',
				body: data
			})
			.then(response => response.text())
			.then(data => {
				if(data == 'success'){
					alert('Registration successful!');
					window.location.href = "/login.php";
				}else{
					alert(data);
				}
			})
			.catch(error => {
				console.error('Error submitting form:', error);
				alert('Error submitting form. Please try again.');
			});
		}
	</script>
</head>
<body>
	<h1>Register</h1>
	<form id="register-form" onsubmit="register()">
		<label for="name">Name:</label>
		<input type="text" id="name" name="name" required><br><br>

		<label for="password">Password:</label>
		<input type="password" id="password" name="password" required><br><br>
		<a href="login.php">Already Have An Accunt?</a><br/><br/>
		<input type="submit" value="Register">
	</form>
</body>
</html>
